<%- include('../partials/header', {styleSheet: 'styles/main.css' }) %>

<h1>Here you can see me talking about my books</h1>

<%for(let i = 0; i < blog.length; i++){ %>

    <div class='blogPost'>
        <a href="/blogs/<%= blog[i]._id%>">
            <h3><%=blog[i].title%></h3>
            <img src="<%=blog[i].image%>" alt="">
        </a>
    </div>

<%}%>

<%- include('../partials/footer') %>