<%- include('../partials/header', {styleSheet: '../styles/main.css' }) %>
<div class="onlyOne">
<h3><%=blog.title%></h3>
    <div class="wrap">  
        <img src="<%=blog.image%>" alt="">

        <p><%=blog.text%></p>
    </div>
</div>

<%- include('../partials/footer') %>